*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}


.electric-car-1{
    margin: 50px 180px 20px 180px;
    display: flex;
    border: 1px solid rgb(177, 174, 174);
    
}

.electric-car-2{
    margin: 20px 180px 20px 180px;
    display: flex;
    border: 1px solid rgb(177, 174, 174);
}

.electric-car-3{
    margin: 20px 180px 20px 180px;
    display: flex;
    border: 1px solid rgb(177, 174, 174);
}

.electric-car-4{
    margin: 20px 180px 20px 180px;
    display: flex;
    border: 1px solid rgb(177, 174, 174);
}

.electric-car-5{
    margin: 20px 180px 20px 180px;
    display: flex;
    border: 1px solid rgb(177, 174, 174);
}

.electric-car-4 img{
    height: 200px;
    width: 330px;
}

img:hover{
    scale: 0.9;
}

.car-name{
    margin-top: 50px;
    margin-left: 80px;
    text-align: center;
}

.car-name button{
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    background-color: rgb(226, 223, 223);
    border: 1px solid rgb(107, 106, 106);
    border-radius: 5px;
    align-items: center;
}

button:hover{
    scale: 1.1;
}

.feature-car-1{
    align-items: center;
    margin-top: 50px;
    margin-left: 115px;
}

.feature-car-2{
    align-items: center;
    margin-top: 50px;
    margin-left: 90px;
}

.feature-car-3{
    align-items: center;
    margin-top: 50px;
    margin-left: 90px;
}

.feature-car-4{
    align-items: center;
    margin-top: 50px;
    margin-left: 90px;
}

.feature-car-5{
    align-items: center;
    margin-top: 50px;
    margin-left: 90px;
}